<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

  function sendJSON() {
    let referenceUser = document.querySelector('#referenceUser');
    let lifetime = document.querySelector('#lifetime');
    let result = document.querySelector('.result');
    let xhr = new XMLHttpRequest();
    let url = "/auth/create";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
        setTimeout(function(){location.reload();},2000);
        result.innerHTML = this.responseText;
      }
    };
    var Data = JSON.stringify({ "referenceUser": referenceUser.value, "lifetime": lifetime.value, "idUser":{ "id": 4}});
    xhr.send(Data);
  }
</script>
   <script>
          function sendDelJSON() {
  let rs = document.querySelector('#referenceShort');
  let xhr = new XMLHttpRequest();
    let url = "/auth/delete";
    xhr.open("DELETE", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        setTimeout(function(){location.reload();},3000);
        }
    };
    var Data1 = JSON.stringify({ "referenceShort": rs.value});
    xhr.send(Data1);
    alert (Data1);
  }
  </script>

</head>
<body style="text-align:center;" id="body">
<h1 style="font-size:26px;"> Тот случай, когда меньше - лучше </h1>
<div sec:authorize="isAuthenticated()">
    Authenticated username:
    <div sec:authentication="principal.username"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>
</div>
<p>
    <input type="text" id="referenceUser" placeholder="referenceUser">
    <input type="number" id="lifetime" placeholder="TimeBounded? Days...">
    <button onclick="sendJSON();">Создать коротыша!</button>
<p class="result" style="color:blue"></p>
</p>
<div class="container">
    <h1 style="font-size:20px;">Ваши ссылки</h1>
    <h1 style="font-size:20px;">Для удаления связи, введите только URN короткой ссылки  </h1>
<!--    <h2 style="font-size:20px;" th:text="${textHost}"> </h2>-->
<p>
    <input type="text" id="referenceShort" placeholder="shortly one for delete">
    <button onclick="sendDelJSON();">Удалить</button>
</p>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>До какого времени</th>
            <th>Короткая</th>
            <th>Использовали</th>
            <th>Уникальные входы</th>
            <th>Длинная</th>
<!--            <th></th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="referenceNew,iterStat : ${referenceNewList}">
            <td th:text="${referenceNew.lifetime}"/>
            <td th:text="${textHost} + ${referenceNew.referenceShort}"/>
            <td th:text="${referenceNew.wasUsed}"/>
            <td th:text="${referenceNew.uniqueUsed}"/>
            <td th:text="${referenceNew.referenceUser}"/>
<!--            <td>-->
<!--                <a onclick="sendDelJSON();" class="btn btn-primary">По идее - кнопка для удаления</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
    </div>
</body>
</html>