<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>
        Отправляем JSON-данные на сервер
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
  function sendJSON() {
    let username = document.querySelector('#username');
    let password = document.querySelector('#password');
    let matchingPassword = document.querySelector('#matchingPassword');
    let result = document.querySelector('.result');
    let xhr = new XMLHttpRequest();
    let url = "/reg/createUser";
    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4 && xhr.status === 200) {
      result.innerHTML = this.responseText
      }
    };
    var Data = JSON.stringify({ "username": username.value, "password": password.value, "matchingPassword": matchingPassword.value});
    xhr.send(Data);
  }
</script>
</head>
<body style="text-align:center;" id="body">
<h1> Зарегистрируйся для обладания мощью уменьшения! </h1>
<p>
    <input type="text" id="username" placeholder="enter your login">
    <input type="text" id="password" placeholder="enter your password">
    <input type="text" id="matchingPassword" placeholder="password once more">
    <button onclick="sendJSON();">Registration</button>
<p class="result" style="color:blue"></p>
    <h2 th:text="${text}"></h2>

</p>
</body>
</html>